
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gwangpang</title>
    <link rel="stylesheet" href="static/css/index.css">
    <!-- <link rel="stylesheet" href="{% static 'css/blog.css' %}" media="screen"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->

</head>
<body>
    <div id = "main">
        <div id= "blue_circle">
            <!-- Header -->
            <div id = "header">
                <div id = "logo">
                    <a href="">Gwang Pang</a>
                </div>
                <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a> -->
                <ul id="menu" class="first_selector">
                    <span id = "nav">
                        <li id="About" onclick="contact_handler(this);" >서비스 소개</a></li>
                        <li id="Portfolio" onclick="contact_handler(this);" >참여하기</a></li>
                    </span>
                    <span id = "SNS">
                        <li id = "facebook"><a href><img src="static/images/facebook.png" style = "height: 25px; width: 13px;" alt=""></a></li>
                        <li id = "instagram"><a href><img src="static/images/instagram.png" style = "height: 25px; width: 25px;" alt=""></a></li>
                    </span>
                </ul>
                <div style="clear:both"></div>
            </div>
            <div class = "container1">
                <!-- Description -->
                <div id = "content1">
                    <h1>
                        광고가<br>
                        <strong id="pang">팡!</strong>
                        터지다.<br/>
                    </h1>
                </div>
                <div id = "check">
                    <img src="static/images/check_white.png" style = "height: 0.7rem; width: 1.5rem;" alt="">
                </div>
            </div>
            <div class="container2">
                <div id="para">
                    <p id="para-1">
                        광고가 필요한 순간,<br/>
                        <span style="color: #EA5514">광팡</span>이 당신 곁에 있겠습니다.
                    </p>
                    <p id="para-2">
                        원하는 광고 카테고리, 스타일, 제품, 가격대 등 마음에 드는 광고를 골라주세요.<br/>
                        맞춤형 광팡 메니저가 여러분에게 알맞은 광고를 추천해드립니다.
                    </p>
                </div>
                <div id="pictos">
                    <div id = "step1">
                        <div class = "pictos">
                            <img src="static/images/picto_shopping.png" alt="" style = "width:45%; padding-bottom:12%;">
                        </div>
                        <h2 style = "padding-bottom: 6%;">step 1</h2>
                        <p>
                            광고 카테고리, 제품, 가격대 등<br/>
                            마음에 드는 광고를 골라주세요. 
                        </p>
                    </div>
                    <div id = "step2">
                        <div class = "pictos">
                            <img src="static/images/picto_people.png" alt="" style = "width:45%; padding-bottom:12%;">
                        </div>
                        <h2 style = "padding-bottom: 6%;">step 2</h2>
                        <p>
                            step 1 에서 선택된 항목을 바탕으로<br/>
                            맞춤형 광팡 메니저를 추천해드립니다.
                        </p>
                    </div>
                    <div id = "step3">
                        <div class = "pictos">
                            <img src="static/images/picto_contents.png" alt="" style = "width:45%; padding-bottom:12%;">
                        </div>
                        <h2 style = "padding-bottom: 6%;">step 3</h2>
                        <p>
                            맞춤형 광고를 이용하여 흥미로운<br/>
                            나만의 컨텐츠를 만들어 보세요.
                        </p>
                    </div>
                </div>
                <div id="container3">
                    <h2> 2020년 10월 </h2>
                    <p>
                        광팡 서비스가 출시될 예정입니다.<br/>
                        사전 조사 참여를 통해 다양한 이벤트와 소식을 먼저 받아 보실 수 있습니다
                    </p>
                    <div id = "check">
                        <img src="static/images/check_orange.png" style = "height: 0.7rem; width: 1.5rem;" alt="">
                    </div>
                    <div id = "participate">
                        <img src="static/images/participate.png" style = "height: 2.5rem; width: 9rem;" alt="">
                    </div>
                </div>
            </div>
        </div>
        <footer id = "footer">
            <h2>(주) 광팡</h2>
            <p> (주)광팡 &nbsp;&nbsp; l&nbsp;&nbsp; 개인정보 취급방침 &nbsp;&nbsp;l &nbsp;&nbsp;이메일주소무단수집거부 </p>
            <p>
                대표이사: 김연주 사업자 등록번호 : 010-23-20720<br/>
                주소: 울산광역시 울주군 점촌안길 4-18 1층, 광팡 만만세<br/>
                대표전화: 1600-0120 대표메일: help@gwangpang.com<br/>
                Copyright 2020 GWANG-PANG LTD.All rights reserved.
            </p>
        </footer>
    </div>
</body>
</html>
